@charset "ISO-8859-1";

body {
	background-color: #F5F5F5;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-size: 20px; 
}

button, select {
	font-size: 25px;
	width: 45%;
    height: 200%;
}

#deleteButton {
	visibility: hidden;
}
#addButton {
	visibility: hidden;
}
#addDropdown {
	visibility: hidden;
	width: 10%;
}

.listTable {
	overflow:hidden;
    overflow-y: scroll;
    height: 50%;
}

table, th{
	border-collapse: separate;
	border-spacing: 10px 0;
	width: 50%;
}

tr:nth-child(even) {
    background-color: #C4C4C4;
}

td {
  padding: 10px 0;
}