@charset "ISO-8859-1";

body {
	background-color: #F5F5F5;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}

button, select {
	font-size: 25px;
	width: 45%;
    height: 200%;
}

.boxed {
	
	border: 2px solid black;
	display: inline-block;
	width: 70%;
	height: 400px;
}


#title {
	text-align: center;
}

.resultsTable {
	overflow:hidden;
    overflow-y: scroll;
    height: 50%;
}

table, th{
	width: 50%;
}

th{
	text-align: center;
}

tr:nth-child(even) {
    background-color: #C4C4C4;
}