@charset "ISO-8859-1";

body {
	background-color: #F5F5F5;
}

.boxed {
	box-sizing: border-box;
	border: 2px solid black;
	display: inline-block;
	width: 60%;
	height: 200px;
}

.dropdown {
	display: inline-block;
}

#title {
	text-align: center;
}

.resultsTable {
	overflow:hidden;
    overflow-y: scroll;
    height: 150px;
}

tr:nth-child(even) {
    background-color: #C4C4C4;
}