@charset "ISO-8859-1";

body {
	background-color: #F5F5F5;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-size: 20px; 
}



button, select {
	font-size: 25px;
	width: 60%;
    height: 200%;
}



#deleteButton {
	visibility: hidden;
}
#moveButton {
	visibility: hidden;
}
#moveDropdown {
	visibility: hidden;
	width: 10%;
}

.listTable {
	overflow:hidden;
    overflow-y: scroll;
    height: 50%;
}

table, th{
	border-collapse: separate;
	border-spacing: 0px 10px;
	width: 50%;
}

tr:nth-child(odd){
	/* background-color: #efd6b1; */
	/* background-color: #f7797d; */
	/* background-image: linear-gradient(#efd6b1, #d1b284); */
	background-image: linear-gradient(to bottom right, #f7797d, #FBD786); */
	
}
tr:nth-child(even) {
    /* background-color: #d1b284; */
    /* background-color: #C6FFDD; */
    background-image: linear-gradient(to bottom right, #C6FFDD, #FBD786);
    
}
td {
  padding: 0px 20px 20px 20px;
  border-radius: 8px;
}

td:hover{
	background-color: #d1b284;
}
button {
	background-color: transparent;
	outline:none;
	border: none;
}
.ButtonText{
	font-size: 14px;
	padding: 4px;
	font-weight: bold;
	border-radius: 8px;
	background-color: #FBD786;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border: none;
}

#mySelect{
	border: none;
	height: 32px;
	font-size: 14px;
	font-weight: bold;
	padding: 4px;
	border-radius: 8px;
	/* background-image: linear-gradient(to bottom right, #FBD786, #FBD786);  */
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#sortable {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#sortable li {
  margin: 0 3px 3px 3px;
  padding: 20px 20px 40px 20px;
  min-height: 18px;
  background-image: linear-gradient(to bottom right, #f7797d, #FBD786);
}

#sortable li span {
  position: absolute;
  margin-left: -1.3em;
}