@charset "ISO-8859-1";

body {
	background-color: #efd6b1;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 20px; 
}

button, select {
	font-size: 25px;
	width: 45%;
    height: 200%;
}

div.card {
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #d1b284;
  border-radius: 8px;

}

button {
	border-radius: 8px;
}

#InsideCard {
	padding: 20px;
}
#ButtonText{
	font-size: 16px;
}
#listSelect{
	height: 26px;
	font-size: 16px;
}
/* #RecipeContent{
	display:inline-block;
} */