@charset "ISO-8859-1";

body {
	/* background-color: #efd6b1; */
	/* background-image: linear-gradient(to bottom right, #efd6b1, #d1b284); */
	/* background-image: linear-gradient(to bottom right, #ffe259, #ffa751); */
	/* background-image: linear-gradient(to bottom right, #f12711, #f5af19); */
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	background: #C6FFDD;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom right, #f7797d, #FBD786, #C6FFDD); 
	background: linear-gradient(to bottom right, #f7797d, #FBD786, #C6FFDD); 
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
}

button, select {
	font-size: 25px;
	width: 80%;
    height: 200%;
}

.boxed {
	
	border: 2px solid black;
	display: inline-block;
	width: 70%;
	height: 400px;
}


#title {
	text-align: center;
	font-weight: bold;
	
}

.resultsTable {
	overflow:hidden;
    overflow-y: scroll;
    height: 50%;
}

table {
	/* background-image: linear-gradient(#efd6b1, #d1b284); */
	/* box-shadow: 0 4px 20px 0 rgba(209, 178, 132, 0.2), 0 6px 20px 0 rgba(209,178,132,0.2); */
	border-collapse: separate;
	border-spacing: 30px 10px;
}

table, th{
	border-collapse: separate;
	width: 50%;
}

th{
	text-align: center;
	border-radius: 8px;
}

td {
	border-radius: 8px;
}
td:hover{
	background-color: #d1b284;
}
tr:nth-child(odd){
	/* background-color: #efd6b1; */
	/* background-color: #f7797d; */
	/* background-image: linear-gradient(#efd6b1, #d1b284); */
	background-image: linear-gradient(to bottom right, #f7797d, #FBD786); */
	
}
tr:nth-child(even) {
    /* background-color: #d1b284; */
    /* background-color: #C6FFDD; */
    background-image: linear-gradient(to bottom right, #C6FFDD, #FBD786);
    
}
div.card {
  width: 90%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /* background-color: #d1b284; */
  /* background-image: linear-gradient( #f5af19, #f12711); */
  background-color: #FBD786;
  border-radius: 8px;
  margin: 0 auto;
}

td {
  padding: 10px 10px;
  vertical-align: text-top;
}
button {
	border: none;
	border-radius: 8px;
	background-image: linear-gradient(to bottom right, #FBD786, #FBD786); 
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#ButtonText{
	font-size: 14px;
	padding: 4px;
	font-weight: bold;
	
}
#mySelect{
	border: none;
	height: 32px;
	font-size: 14px;
	font-weight: bold;
	padding: 4px;
	/* background-image: linear-gradient(to bottom right, #FBD786, #FBD786);  */
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#quickAccess-dropdown{
	border: none;
	height: 32px;
	font-size: 14px;
	font-weight: bold;
	padding: 4px;
	/* background-image: linear-gradient(to bottom right, #FBD786, #FBD786);  */
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}