@charset "ISO-8859-1";

body {
	background-color: #efd6b1;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}

button, select {
	font-size: 25px;
	width: 45%;
    height: 200%;
}

.boxed {
	
	border: 2px solid black;
	display: inline-block;
	width: 70%;
	height: 400px;
}


#title {
	text-align: center;
	font-weight: bold;
	
}

.resultsTable {
	overflow:hidden;
    overflow-y: scroll;
    height: 50%;
}

table {
	box-shadow: 0 4px 20px 0 rgba(209, 178, 132, 0.2), 0 6px 20px 0 rgba(209,178,132,0.2);
	border-collapse: separate;
	border-spacing: 30px 10px;
}

table, th{
	border-collapse: separate;
	width: 50%;
}

th{
	text-align: center;
}

td {
	border-radius: 5px;
}
td:hover{
	#d1b284;
}
tr:nth-child(odd){
	background-color: #efd6b1;
}
tr:nth-child(even) {
    background-color: #d1b284;
}


td {
  padding: 10px 10px;
  vertical-align: text-top;
}