@charset "ISO-8859-1";

body {
	background-color: #F5F5F5;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}

.title {
	text-align: center;
	padding: 70px 0;	
}

#feedMeButton {
	font-size: 35px;
	letter-spacing: -2px;
	padding: 60px 16px;
	border: none;
	background: url(images/grumpy.png) no-repeat;
	
}

#smiley{
	font-size: 35px;
	letter-spacing: -2px;
	padding: 60px 20px;
	border: none;
    background: url(images/smiley.png) no-repeat;
}

.userInput {
	text-align: center;
	vertical-align: middle;
}

.wrapper {
	text-align: center;
}

.rainbow {
  
  background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}