@charset "ISO-8859-1";

body {
	background-color: #efd6b1;
	font-family: Bookman; 	
}

.title {
	text-align: center;
	padding: 70px 0;
	font-weight: bold;	
	font-size: 90px;
	font-family: Bookman;
	color: white;
	text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
}

#searchText {
	width: 350px; 
	height: 40px;
	border-radius: 8px;
}

#integerBox{
	width: 60px; 
	height: 40px;
	border-radius: 8px;
}

#feedMeButton {
	font-size: 35px;
	letter-spacing: -2px;
	padding: 155px 16px;
	border: none;
	background: url(images/grumpy.png) no-repeat;
	
}

#smiley{
	font-size: 35px;
	letter-spacing: -2px;
	padding: 60px 20px;
	border: none;
    background: url(images/smiley.png) no-repeat;
}

.userInput {
	text-align: center;
	vertical-align: middle;
}

.wrapper {
	text-align: center;
}

.rainbow {
  color: white;
  font-family: Bookman; 
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
}