@charset "ISO-8859-1";

body {
	background-color: #FF6600;
	font-family: Bookman; 
	color: white;
	
}

.title {
	text-align: center;
	padding: 70px 0;
	font-weight: bold;	
	font-size: 90px;
	
	color: #fff;
	font-family: Helvetica;
	text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
}

#feedMeButton {
	font-size: 35px;
	letter-spacing: -2px;
	padding: 60px 16px;
	border: none;
	background: url(images/grumpy.png) no-repeat;
	
}

#smiley{
	font-size: 35px;
	letter-spacing: -2px;
	padding: 60px 20px;
	border: none;
    background: url(images/smiley.png) no-repeat;
}

.userInput {
	text-align: center;
	vertical-align: middle;
}

.wrapper {
	text-align: center;
}

.rainbow {
  
  background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}